@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700&family=Saira+Stencil+One&display=swap');

* {
	box-sizing: border-box;
	text-decoration: none;
}
body {
	font-family: 'Raleway', sans-serif;
	background-color: #f2f2f2;
}
